
.friends .friends__plus{
    margin-top: 20px;
    padding: 20px 0px;
    border-top: 1px solid #ccbbbb;
    border-bottom: 1px solid #ccbbbb;
    margin: 20px 0px;
}
.friends__plus .friends__title{
    font-size: 14px;
    opacity: 0.6;
    margin-bottom: 12px;

}
.friends__list .friends__title{
    font-size: 14px;
    opacity: 0.6;
    margin-bottom: 10px;
}
.friends__list .friend__content{
    padding: 17px 4px;
    margin-top: 5px;
    
    
}